/* Import font via url from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Headland+One&family=Playwrite+AU+QLD:wght@100..400&display=swap');

@font-face{
    font-family: 'Kapakana';
    src: url(./assets/fonts/Kapakana-Regular.ttf); /* Use @font-face for adding custom fonts from your local folders and then add it to @themes as shown below*/
}

@import 'tailwindcss';

@theme {
    --font-kapakana: 'Kapakana', cursive;
    --font-doto: 'Doto', sans-serif;
    --font-headland: 'Headland One', serif;
    --font-playwrite: 'Playwrite AU QLD', cursive;
}